
/* landscape teblet */
@media (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 90%;
        margin: auto;
    }
    /* layout */
.row{
    width: 100%;
    float: left;
}


    .col-m-1 {width: 8.33%;float: left;}
    .col-m-2 {width: 16.66%;float: left;}
    .col-m-3 {width: 25%;float: left;}
    .col-m-4 {width: 33.33%;float: left;}
    .col-m-5 {width: 41.66%;float: left;}
    .col-m-6 {width: 50%;float: left;}
    .col-m-7 {width: 58.33%;float: left;}
    .col-m-8 {width: 66.66%;float: left;}
    .col-m-9 {width: 75%;float: left;}
    .col-m-10 {width: 83.33%;float: left;}
    .col-m-11 {width: 91.66%;float: left;}
    .col-m-12 {width: 100%;float: left;}
    .hero_part h1{
        width: 950px;
        margin: auto;
        color: #ffffff;
        font-size: 45px;
        line-height: 45px;
}




